<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Kidney Information</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/kidney.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="title">
  <h1><span style="color: #ff9f43">KIDN</span><span style="color: #0abde3"></span>EY<span style="color: #ee5253">IN</span><span style="color: #00d2d3">FORM<span><span style="color: #5f27cd">ATION<span></h1>
</div>
<div class="card1">
  <img src="{{url_for('static',filename='img/kidneyfunction.gif')}}" alt="">
  <h3>Kidneys Function</h3>
  <p>The heart functions as the body's central pump, propelling blood throughout the circulatory system to deliver vital oxygen and nutrients to tissues while removing waste products.</p>
</div>

<div class="card2">
  <img src="{{url_for('static',filename='img/kidneyda.gif')}}" alt="Eiffel Tower">
  <h3>kidney Dialysis </h3>
  <p>
    A normal heart pumps blood smoothly, keeping your body healthy. But if there's a problem with the heart, it might not pump well, which can make you feel sick.</p>
</div>

<div class="card3">
  <img src="{{url_for('static',filename='img/kidneytran.webp')}}" alt="">
  <h3>kidney Transformation</h3>
  <p>
    A heart attack happens when something blocks the flow of blood to the heart, causing damage to the heart muscle.</p>
</div>
<div class="footer">
</div>
<!-- partial -->
  
</body>
</html>
