<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> Lungs Information</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/liver.css')}}">

</head>
<body>

<body>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="{{url_for('static',filename='img/liverfunction.gif')}}">
                    <h3>Liver Function</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>
                      The liver detoxifies the body by removing toxins, metabolizes nutrients from food, and produces bile to aid in digestion.
                    </p>
                       
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="{{url_for('static',filename='img/livertoxic.gif')}}">
                    <h3>Liver Toxic</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Liver toxicity occurs when harmful substances overload the liver's capacity to detoxify, leading to potential damage and impaired function, compromising overall health.</p>
                        
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="{{url_for('static',filename='img/alcholliver.gif')}}">
                    <h3>Damge of Alcohol</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Alcohol can cause inflammation, fatty liver disease, hepatitis, and cirrhosis, progressively damaging liver cells and impairing liver function over time</p>
                        
                </div>
            </div>
        </div>
    </div>
</body>
<!-- partial -->
  
</body>
</html>
