<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> Lungs Information</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/lungstyle.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="{{url_for('static',filename='img/lungsfunction.gif')}}">
                    <h3>Lung Insights</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>
                        The lungs oxygenate blood by extracting oxygen from inhaled air and expelling carbon dioxide, enabling vital cellular functions and maintaining the body's balance of gases. Through this process, the lungs support breathing and ensure proper oxygenation of tissues.
                    </p>
                       
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="{{url_for('static',filename='img/smokelung.gif')}}">
                    <h3>Smoker Lungs</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Smoking harms lungs by causing irritation, reducing lung function, damaging lung tissue, and increasing the risk of lung cancer.</p>
                        
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="{{url_for('static',filename='img/lungcleaner.gif')}}">
                    <h3>Cleaning Of Lungs</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>The lungs are like spongy organs inside your chest that help you breathe. When you breathe in, air goes through your nose or mouth into your windpipe, which then branches into smaller tubes called bronchi.</p>
                        
                </div>
            </div>
        </div>
    </div>
</body>
<!-- partial -->
  
</body>
</html>
